body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #4D3535;
	background: #F8F7F6; 
	font-size: 1em;
	line-height: 1.5em;
}
#main-header {
	background: #4D3535;
	color: #F8F7F6;
	height: 80px;
}	
	#main-header a {
		color: white;
	}

